version: "3.7"
services:

  psql_database:
    image: postgres:12.2-alpine
    volumes:
      - {{ cooperaid_dir }}/psql/data:/var/lib/postgresql/data
    ports:
      - "5493:5432"
    environment:
      POSTGRES_PASSWORD: "{{ lookup('env', 'ADMIN_PASSWORD') }}"
      POSTGRES_USER: cooperaid
      POSTGRES_DB: cooperaid
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    networks:
      - backend

  backend:
    image: peregin/cooperaid.backend:latest
    ports:
      - 9301:9301
    environment:
      DB_USER: cooperaid
      DB_PASSWORD: "{{ lookup('env', 'ADMIN_PASSWORD') }}"
      DB_URL: "jdbc:postgresql://psql_database:5432/cooperaid"
      JWT_SECRET: "{{ lookup('env', 'ADMIN_PASSWORD') }}"
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 128M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    networks:
      - backend

  frontend:
    image: peregin/cooperaid.frontend:latest
    ports:
      - 9300:3000
    environment:
      - NODE_ENV=production
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    networks:
      - backend

networks:
  backend: