# For more information on configuration, see: http://nginx.org/en/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
    multi_accept on;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    include           /etc/nginx/mime.types;
    include           /etc/nginx/fastcgi.conf;
    index             index.html index.htm index.php;

    access_log        /var/log/nginx/access.log  main;

    sendfile                      on;
    tcp_nopush                    on;
    server_names_hash_bucket_size 128;
    proxy_connect_timeout         300;
    proxy_send_timeout            300;
    proxy_read_timeout            300;
    send_timeout                  300;
    client_max_body_size          20M;

    upstream web-front {
      server 127.0.0.1:3000 max_fails=0;
    }

    upstream web-app {
      server 127.0.0.1:9000 max_fails=0;
    }

    upstream docker-app {
      server 127.0.0.1:7000 max_fails=0;
    }

    upstream rates-app {
      server 127.0.0.1:9012 max_fails=0;
    }

    upstream cooperaid-frontend {
      server 127.0.0.1:9300 max_fails=0;
    }

    upstream cooperaid-backend {
      server 127.0.0.1:9301 max_fails=0;
    }

    # PUBLIC, https, web-app
    server {
        listen 443 ssl http2;
        server_name www.velocorner.com velocorner.com;
        include /etc/nginx/ssl.conf;
        location / {
            include /etc/nginx/api_proxy.conf;
            proxy_pass http://web-app;
        }
    }

    # PUBLIC, https, docker-app
    server {
        listen 443 ssl http2;
        server_name docker.velocorner.com;
        include /etc/nginx/ssl.conf;
        location / {
            include /etc/nginx/api_proxy.conf;
            proxy_pass http://docker-app;
        }
    }

    # PUBLIC, https, rates-app
    server {
        listen 443 ssl http2;
        server_name rates.velocorner.com;
        include /etc/nginx/ssl.conf;
        location / {
            include /etc/nginx/api_proxy.conf;
            proxy_pass http://rates-app;
        }
    }

    # PUBLIC, https, web-front
    server {
        listen 443 ssl http2;
        server_name dev.velocorner.com;
        include /etc/nginx/ssl.conf;
        location / {
            include /etc/nginx/api_proxy.conf;
            proxy_pass http://web-front;
        }
    }

    # PUBLIC, https, cooperaid-frontend, cooperaid-backend
    server {
        listen 443 ssl http2;
        server_name www.peregin.com peregin.com demo.peregin.com;
        include /etc/nginx/ssl.conf;
        location ~ ^/(api|docs) {
            include /etc/nginx/api_proxy.conf;
            proxy_pass http://cooperaid-backend;
        }
        location / {
            include /etc/nginx/api_proxy.conf;
            proxy_pass http://cooperaid-frontend;
        }
    }

    # PUBLIC, https, status.io
    server {
        listen 443 ssl http2;
        server_name status.velocorner.com;
        include /etc/nginx/ssl.conf;
        location / {
            return 301 https://velocorner.statuspage.io/;
        }
    }

    # PUBLIC, http, redirect to https AND expose letsencrypt acme challenge
    server {
        listen 80;
        server_name www.velocorner.com velocorner.com status.velocorner.com docker.velocorner.com search.velocorner.com www.peregin.com peregin.com demo.peregin.com;
        location ~ /.well-known/acme-challenge/ {
            root /opt/letsencrypt;
            allow all;
        }
        location / {
            return 301 https://$host$request_uri;
        }
    }
}
