version: "3.7"
services:

  database:
    image: orientdb:3.0.24
    ports:
      - 2480:2480
      - 2424:2424
    environment:
      ORIENTDB_ROOT_PASSWORD: "{{ lookup('env', 'ADMIN_PASSWORD') }}"
      ORIENTDB_NODE_NAME: odb1
    deploy:
      restart_policy:
        condition: on-failure
        delay: 20s
    networks:
      - backend

  web-app:
    image: peregin/velocorner.com:latest
    deploy:
      restart_policy:
        condition: on-failure
        delay: 20s
    networks:
      - backend

networks:
  backend: