version: "3.7"
services:

  database:
    image: orientdb:3.0.24
    volumes:
      - {{ velocorner_dir }}/orientdb/backup:/orientdb/backup/
      - {{ velocorner_dir }}/orientdb/databases:/orientdb/databases/
    ports:
      - 2480:2480
      - 2424:2424
    environment:
      ORIENTDB_ROOT_PASSWORD: "{{ lookup('env', 'ADMIN_PASSWORD') }}"
      ORIENTDB_NODE_NAME: odb1
      ORIENTDB_OPTS_MEMORY: "-Xmx1G"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 20s
        max_attempts: 3
    networks:
      - backend

  web-app:
    image: peregin/velocorner.com:latest
    command: -Dconfig.file=/web-app/config/web-app.conf {{ web_app_parameter }}
    volumes:
      - {{ velocorner_dir }}/web-app:/web-app/
    ports:
      - 9000:9000
    deploy:
      restart_policy:
        condition: on-failure
        delay: 20s
        max_attempts: 3
    networks:
      - backend

#  web-front:
#    image: peregin/web-front:latest
#    volumes:
#      - {{ velocorner_dir }}/web-app:/web-app/
#    ports:
#      - 3000:3000
#    deploy:
#      restart_policy:
#        condition: on-failure
#        delay: 20s
#        max_attempts: 3
#    networks:
#      - backend

networks:
  backend: