version: "3.7"
services:

  psql_database:
    image: postgres:12.2-alpine
    volumes:
      - {{ velocorner_dir }}/psql/data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: "{{ lookup('env', 'ADMIN_PASSWORD') }}"
      POSTGRES_USER: velocorner
      POSTGRES_DB: velocorner
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    networks:
      - backend

  zinc:
    image: public.ecr.aws/zinclabs/zinc:0.2.5
    volumes:
      - {{ velocorner_dir }}/zinc/data:/data
    ports:
      - 4080:4080
    environment:
      ZINC_DATA_PATH: "/data"
      ZINC_FIRST_ADMIN_USER: admin
      ZINC_FIRST_ADMIN_PASSWORD: "{{ lookup('env', 'ADMIN_PASSWORD') }}"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
    networks:
      - backend

  web-app:
    image: peregin/velocorner.com:latest
    command: -Dconfig.file=/web-app/config/web-app.conf {{ log_parameter }}
    volumes:
      - {{ velocorner_dir }}/web-app:/web-app/
    ports:
      - 9000:9000
    environment:
      HOST_OS_VERSION: "{{ ansible_distribution }} {{ ansible_distribution_version }}"
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    networks:
      - backend
    depends_on:
      - psql_database

  crawler:
    image: peregin/velocorner.crawler:latest
    command: -Dconfig.file=/crawler/config/crawler.conf {{ log_parameter }}
    volumes:
      - {{ velocorner_dir }}/crawler:/crawler/
    ports:
      - 9011:9011
    environment:
      HOST_OS_VERSION: "{{ ansible_distribution }} {{ ansible_distribution_version }}"
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 256M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    networks:
      - backend

  web-front:
    image: peregin/web-front:latest
    ports:
      - 3000:3000
    environment:
      - API_HOST=http://web-app:9000
      - NODE_ENV=production
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    networks:
      - backend

networks:
  backend: